

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div class="hystmodal" id="Modal" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window" role="dialog" aria-modal="true">
      <button data-hystclose='' class="hystmodal__close">Закрыть</button>
      <div class="hystmodal__styled">

        <form action="###" id="appVue" class="form__body" @submit.prevent="checkForm">
          <input type="hidden" name="project_name" value="SiteName">
          <input type="hidden" name="admin_email"  value="yourMail">
         
          <div class="form__item">
            <label for="formName" class="form__label"
                  :class="{
                    invalid: $v.name.$dirty &&
                      (!$v.name.required),
                    valid : $v.name.$dirty && !$v.name.$invalid
                  }">
            </label>
            <input  id="formName" 
                    type="text" 
                    name="name" 
                    class="form__input"
                    placeholder="ФИО"
                    v-model="name"
                    >
                    <!-- <pre>{{ $v.name }}</pre> -->
            <div class="error" v-if='$v.name.$error'>Введите имя</div>
          </div>
          <div class="form__item">
            <label for="formEmail" class="form__label"
                  :class="{
                    invalid: $v.email.$dirty &&
                      ((!$v.email.required) || (!$v.email.email)),
                    valid : $v.email.$dirty && !$v.email.$invalid
                  }">
                  
            </label>
            <input  id="formEmail" 
                    type="text" 
                    name="email" 
                    class="form__input" 
                    placeholder="Электронный адрес"
                    v-model.trim="email">
                  <!-- <pre>{{ $v.email }}</pre>   -->
            <div class="error" v-if='$v.email.$error'>Введите электронный адрес</div>
          </div>

          <div class="form__item">
            <label for="formTel" class="form__label"
            :class="{invalid: $v.tel.$error, valid : $v.email.$dirty && !$v.tel.$invalid }"
           
            ></label>
            <input  id="formTel" 
                    type="tel" 
                    name="tel" 
                    class="form__input" 
                    placeholder="Номер телефона"
                    v-model="tel">
                    <!-- <pre class="error">{{ $v.tel }}</pre> -->
          </div>

          <div class="form__item">
            <div class="select-wrap">Гражданство</div>
            <select name="nationality" class="select" v-model="nationality">
              <option value="" 
              v-for="nationality in nationalities"
              :value="nationality.value">
                {{nationality.label}}
              </option>
            </select>
          </div>

          <div class="form__item">
            <div class="checkbox">
              <input id="formAgreement" type="checkbox" name="agreement" class="checkbox__input" v-model="agreement">
              <label for="formAgreement" class="checkbox__label"> <span>Я соглашаюсь на <a href="#"
                    class="link">обработку</a>
                  моих персональных данных </span></label>
            </div>
          </div>

          <button type="submit" class="btn form__button" v-bind:disabled='!agreement'>Заказать сейчас</button>

        </form>

      </div>
    </div>
  </div>