.card {
  table {
    margin-top: 67px;
  }
  td {
    line-height: 26px;
    padding-right: 25px;
  }
  td:nth-child(2n) {
    color: #bbbbbb;
  }
  .btn {
    // margin: 0 auto;
    width: 100%;
    max-width: 352px;
  }
}

.row-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width:760px){
    justify-content: center;
  }
}
.imgWraper-card {
  width: calc(50% - 30px);
  margin: 15px;
  @media (max-width:760px){
    width: calc(90% - 30px);
    order: 2;
  }
}
.wraper-tabs {
  width: 100%;
  max-width: 430px;
  margin: 15px;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  &__btns {
    // margin-bottom: 50px;
  }

  &__btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: $textcolor;
    font-size: 18px;
    line-height: 23px;
    &.active {
      cursor: default;
      color: $accent;
    }
  }

  &__content {
  }

  &__item {
    display: none;
    margin-bottom: 27px;
    margin-top: 50px;
    @media (max-width:576px){
     display: block;
     margin-top: 15px;
    }
    &.active {
      display: block;
    }
  }
}

.link {
  color: $accent;
  line-height: 26px;
  border-bottom: dashed 0.6px;
  margin-right: auto;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.duble_btn{
  display: none;
  color: $accent;
    font-size: 18px;
    line-height: 23px;
  @media (max-width:576px){
    display: block;
   }
}
