.hystmodal {
  &__wrap {
    background-color: #0e0e0e6e;
  }

  &__window {
    background-color: black;
    padding: 35px;
    width: 750px;
  }

  &__close {
  }

  &__styled {
  }
}


.valid:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -30px;
  z-index: 1;
  border-right: solid #89cc1b;
  border-top: solid #89cc1b;
  width: 19px;
  height: 12px;
  transform: rotate(130deg);
}

.valid-thanks:after{
  top: 10px;
  right: 50%;
}

.invalid:before,
.invalid:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  top: 45%;
  right: -35px;
  background: rgb(112, 9, 9);
}
.invalid:before {
  transform: rotate(45deg);
}
.invalid:after {
  transform: rotate(-45deg);
}

.form {
  &__body {
  }

  &__item {
    margin-bottom: 20px;
    margin-right: 35px;
    position: relative;

   
  }

  &__label {
    // margin-bottom: 10px;
    // width: 100%;
    // position: absolute;
    top: 32px;
    left: 30px;
    transition: .3s;
    font-size: 20px;
    
  }

  &__input {
    height: 80px;
    width: 100%;
    padding: 0 30px;
    background-color: #191919;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    border: none;

   
    &:focus{
      background-color: #333;   
    }
    &:focus + label{
      font-size: 12px;
      top: 0;

    }
    &:focus::placeholder{
      font-size: 12px;
      transform: translateY(-100%);
      transition: 0.3s;
    }
  }
  

  &__button:disabled {
    background-color: #191919;
    cursor: default;
  }
}
.form__input:focus + .form__label{
  font-size: 12px;
      top: 0;
}
.select-wrap{
  margin-bottom: 10px;
  width: 100%;
  
  &:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    border-right: solid #bbbbbb;
    border-top: solid #bbbbbb;
    width: 16px;
    height: 14px;
    transform: rotate(130deg);
  }
}
.select {
  line-height: 80px;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    background-color: #191919;
    color: #6c6c6c;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    
    &:focus{
      background-color: #333;   
    }

}
.checkbox {
  &__input {
    display: none;

    &:checked + .checkbox__label::after {
      opacity: 1;
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      align-self: flex-start;
      flex: 0 0 24px;
      height: 24px;
      border-radius: 10px;
      cursor: pointer;
      background-color: #333;
      transition: all 0.3s ease;
      margin-right: 20px;
    }
    &::after {
      content: "";
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0px;
      left: 2px;
      border-right: solid #fff;
      border-top: solid #fff;
      width: 24px;
      height: 14px;
      transform: rotate(130deg);
      opacity: 0;
      transition: 0.3s;
    }
  }
}

input:-webkit-autofill{
font-size: 20px;
  transition: background-color 500s ease-in-out 0s;
}

.link {
}
.btn {
}

.error{
  padding: 10px 30px;
  color: #CC301B;
  font-weight: 500;
  font-size: 12px;
  line-height: 115%;
}